html, body{text-align:center;color:#707070;background-image:url(https://blog.codinghorror.com/content/images/2017/12/to-serve-man.jpg);background-size:cover;height:100%}
.page-wrap{background-color:rgba(0, 0, 0, 0.6);min-height: 100%;}
.page-wrap:after {content: "";display: block;}
.site-footer, .page-wrap:after {height: 19px; }
.site-footer {font-family:monospace; background-color:#424242}
h2{padding:1% 0% 1% 0%;}
#nextPrev{padding-top:90px;}
#prev{padding-right:20px;}
button{padding:10px 20px;background-color:#707070;color:black;border:none;border-radius:5px;}
#quotes{;height:90px;font-family: 'Nanum Gothic Coding', monospace;font-size:37px;color:#ecf0f1;padding:1% 30% 1% 30%;}

